.ipynb_checkpoints/

*.zip

*.swp

*.csv

*.pth

__pycache__/

sample_dreams_dataset_6000/

models*/

raw_files/

scrap*/

scrap*

dataset/

sample_dreams*/

out*/

code/create_dream_dataset/train/

code/create_dream_dataset/test/

code/read_dream_dataset/*.txt
